In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mutual-funds-nav-data-since-3rd-april-2006/allllllMyNAV2.xlsx
/kaggle/input/json-nav-cleaned/nav_new.json
/kaggle/input/json-nav-cleaned/meta.json
/kaggle/input/nav-data-cleaned/nav_new.csv

In [2]:
data = pd.read_excel("/kaggle/input/mutual-funds-nav-data-since-3rd-april-2006/allllllMyNAV2.xlsx")

In [3]:
data.head()

,_id,meta.Structure,meta.Category,meta.Sub-Category,meta.AMC,meta.Code,meta.Name,meta.Source,meta.Option,2006-04-03 00:00:00,...,2023-08-22 00:00:00,2023-08-23 00:00:00,2023-08-24 00:00:00,2023-08-25 00:00:00,2023-08-26 00:00:00,2023-08-27 00:00:00,2023-08-28 00:00:00,2023-08-29 00:00:00,2023-08-30 00:00:00,2023-08-31 00:00:00
0,64ecd0c6465f3f46339c5262,Open Ended Schemes,NaN,Income,ABN AMRO Mutual Fund,102652,ABN AMRO Monthly Income Plan-Regular Plan-Gro...,Regular,Growth,11.7436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,64ecd0c6465f3f46339c5263,Open Ended Schemes,NaN,Income,ABN AMRO Mutual Fund,102653,ABN AMRO Monthly Income Plan-Regular Plan-Mon...,Regular,IDCW,10.5045,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64ecd0c7465f3f46339c5264,Open Ended Schemes,NaN,Income,ABN AMRO Mutual Fund,102654,ABN AMRO Monthly Income Plan-Regular Plan-Qua...,Regular,IDCW,10.449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64ecd0c7465f3f46339c5265,Open Ended Schemes,NaN,Income,ABN AMRO Mutual Fund,102645,ABN AMRO Short Term Income Fund-Institutional...,NaN,IDCW,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,64ecd0c7465f3f46339c5266,Open Ended Schemes,NaN,Income,ABN AMRO Mutual Fund,102644,ABN AMRO Short Term Income Fund-Institutional...,NaN,Growth,10.858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tdata = data.transpose()

In [5]:
tdata.head(15)

,0,1,2,3,4,5,6,7,8,9,...,35791,35792,35793,35794,35795,35796,35797,35798,35799,35800
_id,64ecd0c6465f3f46339c5262,64ecd0c6465f3f46339c5263,64ecd0c7465f3f46339c5264,64ecd0c7465f3f46339c5265,64ecd0c7465f3f46339c5266,64ecd0c7465f3f46339c5267,64ecd0c8465f3f46339c5268,64ecd0c8465f3f46339c5269,64ecd0c8465f3f46339c526a,64ecd0c8465f3f46339c526b,...,64f34f7f99b948faeec26f42,64f34f7f99b948faeec26f43,64f34f8299b948faeec26f44,64f34f8299b948faeec26f45,64f34f8299b948faeec26f46,64f34f8299b948faeec26f47,64f34fba99b948faeec26f48,64f34fba99b948faeec26f49,64f34fba99b948faeec26f4a,64f34fba99b948faeec26f4b
meta.Structure,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,...,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Open Ended Schemes,Close Ended Schemes,Close Ended Schemes,Close Ended Schemes,Close Ended Schemes
meta.Category,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Equity Scheme,Equity Scheme,Equity Scheme,Equity Scheme,Equity Scheme,Equity Scheme,NaN,NaN,NaN,NaN
meta.Sub-Category,Income,Income,Income,Income,Income,Income,Income,Income,Income,Income,...,Flexi Cap Fund,Flexi Cap Fund,Flexi Cap Fund,Flexi Cap Fund,Flexi Cap Fund,Flexi Cap Fund,Income,Income,Income,Income
meta.AMC,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,ABN AMRO Mutual Fund,...,360 ONE Mutual Fund (Formerly Known as IIFL Mu...,360 ONE Mutual Fund (Formerly Known as IIFL Mu...,Bajaj Finserv Mutual Fund,Bajaj Finserv Mutual Fund,Bajaj Finserv Mutual Fund,Bajaj Finserv Mutual Fund,HDFC Mutual Fund,HDFC Mutual Fund,HDFC Mutual Fund,HDFC Mutual Fund
meta.Code,102652,102653,102654,102645,102644,102646,102647,102649,102648,102650,...,151799,151797,151898,151895,151896,151897,151865,151863,151862,151864
meta.Name,ABN AMRO Monthly Income Plan-Regular Plan-Gro...,ABN AMRO Monthly Income Plan-Regular Plan-Mon...,ABN AMRO Monthly Income Plan-Regular Plan-Qua...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,ABN AMRO Short Term Income Fund-Institutional...,...,360 ONE FLEXICAP FUND-REGULAR PLAN- GROWTH,360 ONE FLEXICAP FUND-REGULAR PLAN- IDCW,Bajaj Finserv Flexi Cap Fund -Regular Plan-Growth,Bajaj Finserv Flexi Cap Fund-Direct Plan-Growth,Bajaj Finserv Flexi Cap Fund-Direct Plan-IDCW,Bajaj Finserv Flexi Cap Fund-Regular Plan-IDCW,HDFC Charity Fund for Cancer Cure - IDCW Optio...,HDFC Charity Fund for Cancer Cure - IDCW Optio...,HDFC Charity Fund for Cancer Cure - IDCW Optio...,HDFC Charity Fund for Cancer Cure - IDCW Optio...
meta.Source,Regular,Regular,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Regular,Regular,Regular,Direct,Direct,Regular,NaN,NaN,Direct,Direct
meta.Option,Growth,IDCW,IDCW,IDCW,Growth,IDCW,IDCW,IDCW,Growth,IDCW,...,Growth,IDCW,Growth,Growth,IDCW,IDCW,IDCW,IDCW,IDCW,IDCW
2006-04-03 00:00:00,11.7436,10.5045,10.449,10,10.858,10.0078,0,0,10.2871,0,...,10.0454,10.0454,10.016,10.017,10.017,10.016,10.0091,10.0091,10.0091,10.0091
2006-04-04 00:00:00,11.738,10.4995,10.444,10,10.8598,10.0095,0,0,10.2889,0,...,10.0075,10.0075,10.018,10.019,10.019,10.018,10.0119,10.0128,10.0115,10.0131
2006-04-05 00:00:00,11.7663,10.5249,10.4692,10,10.8633,10.0127,0,0,10.2925,0,...,9.9849,9.9849,10.02,10.022,10.022,10.02,10.0189,10.0198,10.0185,10.0201
2006-04-06 00:00:00,11.7392,10.5006,10.4451,10,10.8633,10.0127,0,0,10.2925,0,...,10.0201,10.0201,10.024,10.027,10.027,10.024,10.0265,10.0274,10.0261,10.0277
2006-04-07 00:00:00,11.7944,10.55,10.4942,10,10.865,10.0142,0,10,10.2941,0,...,10.0041,10.0041,10.026,10.029,10.029,10.026,10.0284,10.0294,10.028,10.0296
2006-04-08 00:00:00,11.7512,10.5114,10.4558,10,10.8683,10.0173,0,10,10.2975,0,...,10.0335,10.0335,10.03,10.034,10.034,10.03,10.0338,10.0347,10.0334,10.0349

In [6]:
ddd=list(tdata[:9].index)
ddd

['_id',
 'meta.Structure',
 'meta.Category',
 'meta.Sub-Category',
 'meta.AMC',
 'meta.Code',
 'meta.Name',
 'meta.Source',
 'meta.Option']

In [7]:
ddd.remove("meta.Code")

In [8]:
#I will Store Scheme Code as Header and I will store another dataframe in while I will keep the Meta data
nav = tdata.drop(ddd)

In [9]:
meta = tdata[:9]

In [10]:
nav = nav.rename(columns = nav.iloc[0]).drop(nav.index[0])

In [11]:
col_dtype = list(nav.dtypes)

In [12]:
col_dtest=set(col_dtype)
col_dtest
#now we know that it had only object datatype in all the columns

{dtype('O')}

In [13]:
nav = nav.infer_objects()

In [14]:
nav

,102652,102653,102654,102645,102644,102646,102647,102649,102648,102650,...,151799,151797,151898,151895,151896,151897,151865,151863,151862,151864
2006-04-03,11.7436,10.5045,10.4490,10.0,10.8580,10.0078,0.0,0.0,10.2871,0.0,...,10.0454,10.0454,10.016,10.017,10.017,10.016,10.0091,10.0091,10.0091,10.0091
2006-04-04,11.7380,10.4995,10.4440,10.0,10.8598,10.0095,0.0,0.0,10.2889,0.0,...,10.0075,10.0075,10.018,10.019,10.019,10.018,10.0119,10.0128,10.0115,10.0131
2006-04-05,11.7663,10.5249,10.4692,10.0,10.8633,10.0127,0.0,0.0,10.2925,0.0,...,9.9849,9.9849,10.020,10.022,10.022,10.020,10.0189,10.0198,10.0185,10.0201
2006-04-06,11.7392,10.5006,10.4451,10.0,10.8633,10.0127,0.0,0.0,10.2925,0.0,...,10.0201,10.0201,10.024,10.027,10.027,10.024,10.0265,10.0274,10.0261,10.0277
2006-04-07,11.7944,10.5500,10.4942,10.0,10.8650,10.0142,0.0,10.0,10.2941,0.0,...,10.0041,10.0041,10.026,10.029,10.029,10.026,10.0284,10.0294,10.0280,10.0296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
col_dtype = list(nav.dtypes)
col_dtest=set(col_dtype)
col_dtest
#so we still have dtype object in our set.

{dtype('float64'), dtype('O')}

In [16]:
o = 0
noo = list()
for d in col_dtype:
    if type(d) == type(col_dtype[90]):
        noo.append(o)
    o += 1

In [17]:
#now i have the index of all the columns that had object datatype. Lets fix them.

In [18]:
needc = nav.iloc[:,noo]

In [19]:
needc

,103063,102074,102078,102288,102289,102680,102678,102340,102343,102341,...,133853,140435,140433,140436,140434,147648,147645,147647,147646,148957
2006-04-03,NaN,10.7333,NaN,10.0178,11.1538,NaN,NaN,11.0782,10.0061,10.0046,...,N.A.,N.A.,N.A.,N.A.,N.A.,10.0104,10.0104,10.0102,10.0102,N.A.
2006-04-04,NaN,10.7393,NaN,10.0198,11.156,NaN,NaN,11.0799,10.0077,10.0062,...,N.A.,10.06,10.06,10.06,10.06,10.1773,10.1773,10.1769,10.1769,83.76
2006-04-05,NaN,10.7454,NaN,10.0218,11.1583,NaN,NaN,11.0816,10.0092,10.0077,...,N.A.,10.05,10.05,10.05,10.05,10.3646,10.3646,10.364,10.364,84.26
2006-04-06,NaN,10.7494,-,10.0259,11.1628,NaN,NaN,11.0833,10.0107,10.0093,...,N.A.,10.03,10.04,10.04,10.03,10.4672,10.4672,10.4661,10.4661,84.28
2006-04-07,NaN,10.7575,-,10.0321,11.1697,NaN,NaN,11.085,10.0123,10,...,N.A.,10.05,10.05,10.05,10.05,10.3186,10.3186,10.3173,10.3173,84.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
correct=list()
for n in needc :
    l = list(needc[n].unique())
    for ll in l:
        if type(ll) != type(float()):
            if type(ll) != type(int()):
                if ll in correct:
                    continue
                else:
                    correct.append(ll)

In [21]:
print(correct)

['-', 'N.A.', 'B.C.', '1000(Div0.1817645)', '1000(Div0.1817278)', '1000(Div0.3495100)', '1000(Div0.1724630)', '1000(Div0.3704753)', '1000(Div0.1984199)', '1000(Div0.3766252)', '1000(Div0.1976440)', '1000(Div0.1902944)', '1000(Div0.1961164)', '1000(Div0.2007667)', '1000(Div0.2141745)', '1000(Div0.1966044)', '1000(Div0.1989447)', '1000(Div0.1934547)', '1000(Div0.1903426)', '1000(Div0.1920938)', '1000(Div0.1904795)', '1000(Div0.1885617)', '1000(Div0.1890599)', '1000(Div0.1831245)', '1000(Div0.1790061)', '1000(Div0.1776532)', '1000(Div0.1801715)', '1000(Div0.5393642)', '1000(Div0.1746622)', '1000(Div0.1694344)', '1000(Div0.1631985)', '1000(Div0.1622631)', '1000(Div0.1639821)', '1000(Div0.1529723)', '1000(Div0.1570218)', '1000(Div0.1491750)', '1000(Div0.1473753)', '1000(Div0.1506476)', '1000(Div0.1499539)', '1000(Div0.1511465)', '1000(Div0.1482830)', '1000(Div0.2792061)', '1000(0.1490297)', '1000(Div0.1504848)', '1000(Div0.1505599)', '1000(Div0.1494832)', '1000(Div0.1530966)', '1000(Div0.1662933)', '1000(Div0.1537519)', '1000(Div0.1555304)', '1000(Div0.1563359)', '1000(Div0.1561256)', '1`7.48', '10-.0410', 'B. C.']

In [22]:
nav

,102652,102653,102654,102645,102644,102646,102647,102649,102648,102650,...,151799,151797,151898,151895,151896,151897,151865,151863,151862,151864
2006-04-03,11.7436,10.5045,10.4490,10.0,10.8580,10.0078,0.0,0.0,10.2871,0.0,...,10.0454,10.0454,10.016,10.017,10.017,10.016,10.0091,10.0091,10.0091,10.0091
2006-04-04,11.7380,10.4995,10.4440,10.0,10.8598,10.0095,0.0,0.0,10.2889,0.0,...,10.0075,10.0075,10.018,10.019,10.019,10.018,10.0119,10.0128,10.0115,10.0131
2006-04-05,11.7663,10.5249,10.4692,10.0,10.8633,10.0127,0.0,0.0,10.2925,0.0,...,9.9849,9.9849,10.020,10.022,10.022,10.020,10.0189,10.0198,10.0185,10.0201
2006-04-06,11.7392,10.5006,10.4451,10.0,10.8633,10.0127,0.0,0.0,10.2925,0.0,...,10.0201,10.0201,10.024,10.027,10.027,10.024,10.0265,10.0274,10.0261,10.0277
2006-04-07,11.7944,10.5500,10.4942,10.0,10.8650,10.0142,0.0,10.0,10.2941,0.0,...,10.0041,10.0041,10.026,10.029,10.029,10.026,10.0284,10.0294,10.0280,10.0296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
nav.replace(correct,float("nan") ,inplace = True)

In [24]:
col_dtype = list(nav.dtypes)
col_dtest=set(col_dtype)
col_dtest

{dtype('float64')}

In [25]:
#we finally have a dataset with all the float values.

In [26]:
#nav.to_csv("nav_new.csv")

In [27]:
# nav.to_json("nav_new.json")
# meta.to_json("meta.json")

In [28]:
nav.iloc[:,:2].head(30)

                      102652   102653
2006-04-03 00:00:00  11.7436  10.5045
2006-04-04 00:00:00  11.7380  10.4995
2006-04-05 00:00:00  11.7663  10.5249
2006-04-06 00:00:00  11.7392  10.5006
2006-04-07 00:00:00  11.7944  10.5500
2006-04-08 00:00:00  11.7512  10.5114
2006-04-09 00:00:00  11.7323  10.4945
2006-04-10 00:00:00  11.7565  10.5162
2006-04-11 00:00:00  11.7759  10.5334
2006-04-12 00:00:00  11.7997  10.5547
2006-04-13 00:00:00  11.8322  10.5838
2006-04-14 00:00:00  11.8604  10.6090
2006-04-15 00:00:00  11.8860  10.6319
2006-04-16 00:00:00  11.8446  10.5949
2006-04-17 00:00:00  11.8921  10.6374
2006-04-18 00:00:00  11.9269  10.6685
2006-04-19 00:00:00  11.9303  10.6715
2006-04-20 00:00:00  11.9846  10.6401
2006-04-21 00:00:00  11.9865  10.6417
2006-04-22 00:00:00  12.0105  10.6630
2006-04-23 00:00:00  12.0247  10.6757
2006-04-24 00:00:00  12.0070  10.6599
2006-04-25 00:00:00  12.0344  10.6842
2006-04-26 00:00:00  12.0550  10.7026
2006-04-27 00:00:00  12.0335  10.6834
2006-04-28 00:00:00  12.0061  10.6591
2006-04-29 00:00:00  11.9453  10.6051
2006-04-30 00:00:00  11.9311  10.5925
2006-05-01 00:00:00  11.9800  10.6360
2006-05-02 00:00:00  11.8781  10.5455

In [29]:
daily_change_in_nav = nav.pct_change().add_suffix('_Daily')

In [30]:
daily_change_in_nav

,102652_Daily,102653_Daily,102654_Daily,102645_Daily,102644_Daily,102646_Daily,102647_Daily,102649_Daily,102648_Daily,102650_Daily,...,151799_Daily,151797_Daily,151898_Daily,151895_Daily,151896_Daily,151897_Daily,151865_Daily,151863_Daily,151862_Daily,151864_Daily
2006-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-04,-0.000477,-0.000476,-0.000479,0.0,0.000166,0.00017,NaN,NaN,0.000175,NaN,...,-0.003773,-0.003773,0.000200,0.000200,0.000200,0.000200,0.000280,0.000370,0.000240,0.000400
2006-04-05,0.002411,0.002419,0.002413,0.0,0.000322,0.00032,NaN,NaN,0.000350,NaN,...,-0.002258,-0.002258,0.000200,0.000299,0.000299,0.000200,0.000699,0.000699,0.000699,0.000699
2006-04-06,-0.002303,-0.002309,-0.002302,0.0,0.000000,0.00000,NaN,NaN,0.000000,NaN,...,0.003525,0.003525,0.000399,0.000499,0.000499,0.000399,0.000759,0.000758,0.000759,0.000758
2006-04-07,0.004702,0.004704,0.004701,0.0,0.000156,0.00015,NaN,inf,0.000155,NaN,...,-0.001597,-0.001597,0.000200,0.000199,0.000199,0.000200,0.000189,0.000199,0.000190,0.000189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-27,0.000000,0.000000,0.000000,0.0,NaN,0.00000,NaN,0.0,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-08-28,0.000000,0.000000,0.000000,0.0,NaN,0.00000,NaN,0.0,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-08-29,0.000000,0.000000,0.000000,0.0,NaN,0.00000,NaN,0.0,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-08-30,0.000000,0.000000,0.000000,0.0,NaN,0.00000,NaN,0.0,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-08-31,0.000000,0.000000,0.000000,0.0,NaN,0.00000,NaN,0.0,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [31]:
#successfully downloaded the data